<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/addPodcast.css" />
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <form action="/podcasts/<%=podcast._id%>/edit" method="POST">
        <h2>Update Podcast</h2>
        <input
          class="input-text"
          type="text"
          name="name"
          value="<%=podcast.name%>"
        />
        <input
          class="input-text"
          type="text"
          name="category"
          value="<%=podcast.category%>"
        />
        <h3>Section</h3>
        <div>
          <input type="radio" name="section" id="free" value="free" />
          <label for="free">Free</label>
          <input type="radio" name="section" id="vip" value="VIP" />
          <label for="vip">VIP</label>
          <input type="radio" name="section" id="premium" value="premium" />
          <label for="premium">Premium</label>
        </div>
        <% if(!podcast.isVarified) { %>
        <div>
          <label for="verification">Verify : </label>
          <input
            type="checkbox"
            name="isVarified"
            id="verification"
            value="true"
          />
        </div>
        <% } %>
        <input type="submit" value="Update Podcast" />
        <a class="back" href="/podcasts/<%=podcast._id%>">Back</a>
      </form>
    </div>
  </body>
</html>
